.cart_item {
  font-size: 22px;
}
.dropdown_content {
  padding: 10px 5px;
  max-width: 250px;
  border-bottom: 1px solid #b6b6b6;
}
.infor {
  display: flex;
  column-gap: 10px;
  align-items: flex-start;
}

.image_item {
  width: 70px;
  background-size: cover;
  margin: 0px;
}
.text {
  display: flex;
  flex-direction: column;
}
.text p {
  margin: 0px;
}
.title {
  margin: 0px;
  font-size: 17px;
  color: #dd8568;
}
.title:hover {
  color: black;
}
.text span {
  white-space: nowrap;
  color: #111;
  font-weight: bold;
  opacity: 0.6;
}
.total_price {
  color: #111;
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
  margin: 0px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.total_title {
  margin-bottom: 10px;
  font-size: 18px;
  color: #777;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.total_title span {
  color: black !important;
}
.view_cart {
  width: 100%;
  background-color: #3d2e5c;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  vertical-align: middle;
  border-radius: 0;
  text-shadow: none;
  line-height: 2.4em;
  min-height: 2.5em;
  padding: 0 1.2em;
  max-width: 100%;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}
.view_cart p {
  margin: 0px;
}
.view_cart:hover {
  background-color: #30234b;
}
.check_out {
  width: 100%;
  background-color: #d26e4b;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  vertical-align: middle;
  border-radius: 0;
  text-shadow: none;
  line-height: 2.4em;
  min-height: 2.5em;
  padding: 0 1.2em;
  max-width: 100%;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}
.check_out p {
  margin: 0px;
}
.check_out:hover {
  background-color: #b65735;
}
