.header_container {
  display: flex;
  padding: 20px 0px;
  align-items: center;
  justify-content: space-between;
}
.logo :hover {
  cursor: pointer;
  opacity: 0.7;
}
.menu {
  display: flex;
  gap: 20px;
  align-items: center;
}
.title {
  font-size: medium;
  color: #636e72;
  font-weight: 501;
  font-size: 20px;
  cursor: pointer;
}
.title:hover {
  color: black;
}
.item {
  text-decoration: none;
}
.item:hover {
  text-decoration: none;
}
