.clubs_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}
.title {
  font-weight: 501;
  font-size: 26px;
  line-height: 28px;
  margin-bottom: 25px;
  text-align: center;
}
.list_club {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
}
